
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Social Media</title>
      
      <link rel="shortcut icon" href="static/assets/images/favicon.ico" />
      <link rel="stylesheet" href="static/assets/css/libs.min.css">
      <link rel="stylesheet" href="static/assets/css/socialv.css?v=4.0.0">
      <link rel="stylesheet" href="static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
      <link rel="stylesheet" href="static/assets/vendor/remixicon/fonts/remixicon.css">
      <link rel="stylesheet" href="static/assets/vendor/vanillajs-datepicker/dist/css/datepicker.min.css">
      <link rel="stylesheet" href="static/assets/vendor/font-awesome-line-awesome/css/all.min.css">
      <link rel="stylesheet" href="static/assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">
      <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


      <style>
        .profile-img-edit {
          position: relative;
          width: 150px;
          height: 150px;
          margin: auto;
        }
        
        .profile-pic {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          display: block;
        }
        
        .p-image {
            position: absolute;
            bottom: 0;
            right: 0;
            background: #2196F3;
            border-radius: 50%;
            padding: 6px;
            cursor: pointer;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          
        
        .p-image i {
          font-size: 16px;
          color: white;
        }
        </style>
      
  </head>
  <body class="  ">
    <!-- loader Start -->
    <div id="loading">
          <div id="loading-center">
          </div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">
       {% include "layouts/sidebar.html" %} {% include "layouts/navbar.html" %}
      <div class="right-sidebar-mini right-sidebar">
        <div class="right-sidebar-panel p-0">
          <div class="card shadow-none">
            <div class="card-body p-0">
              <div class="media-height p-3" data-scrollbar="init"></div>
              <div class="right-sidebar-toggle bg-primary text-white mt-3">
                <i class="ri-arrow-left-line side-left-icon"></i>
                <i class="ri-arrow-right-line side-right-icon"
                  ><span class="ms-3 d-inline-block">Close Menu</span></i
                >
              </div>
            </div>
          </div>
        </div>
      </div> 
    <div id="content-page" class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="iq-edit-list">
                            <ul class="iq-edit-profile row nav nav-pills">
                                <li class="col-md-3 p-0">
                                    <a class="nav-link active" data-bs-toggle="pill" href="#personal-information">
                                        Personal Information
                                    </a>
                                </li>
                                <li class="col-md-3 p-0">
                                    <a class="nav-link" data-bs-toggle="pill" href="#chang-pwd">
                                        Change Password
                                    </a>
                                </li>
                                <li class="col-md-3 p-0">
                                    <a class="nav-link" data-bs-toggle="pill" href="#emailandsms">
                                        Email and SMS
                                    </a>
                                </li>
                                <li class="col-md-3 p-0">
                                    <a class="nav-link" data-bs-toggle="pill" href="#manage-contact">
                                        Manage Contact
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="iq-edit-list-data">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between">
                                    <div class="header-title">
                                        <h4 class="card-title">Personal Information</h4>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form action="/edit-profile" method="POST" enctype="multipart/form-data">
                                        <div class="form-group row align-items-center">
                                            <div class="col-md-12">
                                                <div class="profile-img-edit">
                                                  <img class="profile-pic" src="{{ user.profile_picture or url_for('static', filename='assets/images/user/11.png') }}" alt="profile-pic">
                                                  <div class="p-image">
                                                    <i class="ri-pencil-line upload-button text-white"></i>
                                                    <input class="file-upload" type="file" name="avatar" accept="image/*" />
                                                  </div>
                                                </div>
                                              </div>                                             
                                        </div>
                                        <div class="row align-items-center">
                                            <div class="form-group col-sm-6">
                                                <label for="full_name" class="form-label">Nama Depan:</label>
                                                <input type="text" class="form-control" id="full_name" placeholder="Masukkan Nama Depan" name="full_name" value="{{user.full_name}}">
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="lname" class="form-label">Nama Belakang:</label>
                                                <input type="text" class="form-control" id="lname" placeholder="Masukkan Nama Belakang" name="lname" value="{{user.last_name}}">
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="email" class="form-label">Email:</label>
                                                <input type="email" class="form-control" id="email" placeholder="Masukkan Email" name="email" value="{{user.email}}">
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="nohp" class="form-label">Nomor HP:</label>
                                                <input type="text" class="form-control" id="nohp"  name="mobile" placeholder="Masukkan Nomor HP" value="{{user.phone}}">
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label class="form-label d-block">Jenis Kelamin:</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="gender" id="genderMale" value="Laki-laki"
                                                        {% if user.gender == 'Laki-laki' %}checked{% endif %}>
                                                    <label class="form-check-label" for="genderMale">Laki-laki</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="gender" id="genderFemale" value="Perempuan"
                                                        {% if user.gender == 'Perempuan' %}checked{% endif %}>
                                                    <label class="form-check-label" for="genderFemale">Perempuan</label>
                                                </div>
                                            </div>                                            
                                            <div class="form-group col-sm-6">
                                                <label for="dob" class="form-label">Tanggal Lahir:</label>
                                                <input type="date" class="form-control" id="dob" value="{{user.dob}}" name="dob">
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label class="form-label">Negara:</label>
                                                <select class="form-select js-example-basic-single" name="country">
                                                    <option value="">Pilih Negara</option>
                                                    <option value="Indonesia" {% if user.country == "Indonesia" %}selected{% endif %}>Indonesia</option>
                                                    <option value="Amerika Serikat" {% if user.country == "Amerika Serikat" %}selected{% endif %}>Amerika Serikat</option>
                                                    <option value="India" {% if user.country == "India" %}selected{% endif %}>India</option>
                                                    <option value="Jepang" {% if user.country == "Jepang" %}selected{% endif %}>Jepang</option>
                                                    <option value="Inggris" {% if user.country == "Inggris" %}selected{% endif %}>Inggris</option>
                                                    <option value="Afghanistan" {% if user.country == "Afghanistan" %}selected{% endif %}>Afghanistan</option>
                                                    <option value="Argentina" {% if user.country == "Argentina" %}selected{% endif %}>Argentina</option>
                                                    <option value="Brazil" {% if user.country == "Brazil" %}selected{% endif %}>Brazil</option>
                                                    <option value="Canada" {% if user.country == "Canada" %}selected{% endif %}>Canada</option>
                                                    <option value="China" {% if user.country == "China" %}selected{% endif %}>China</option>
                                                    <!-- dst -->
                                                </select>
                                            </div>                                            
                                            
                                            <div class="form-group col-sm-6">
                                                <label class="form-label">Bahasa:</label>
                                                <select class="form-select js-example-basic-multiple" name="language[]" multiple>
                                                    <option value="Bahasa Indonesia" {% if 'Bahasa Indonesia' in user.languages %}selected{% endif %}>Bahasa Indonesia</option>
                                                    <option value="Inggris" {% if 'Inggris' in user.languages %}selected{% endif %}>Inggris</option>
                                                    <option value="Mandarin" {% if 'Mandarin' in user.languages %}selected{% endif %}>Mandarin</option>
                                                    <option value="Spanyol" {% if 'Spanyol' in user.languages %}selected{% endif %}>Spanyol</option>
                                                    <option value="Arab" {% if 'Arab' in user.languages %}selected{% endif %}>Arab</option>
                                                    <option value="Jerman" {% if 'Jerman' in user.languages %}selected{% endif %}>Jerman</option>
                                                    <option value="Rusia" {% if 'Rusia' in user.languages %}selected{% endif %}>Rusia</option>
                                                    <option value="Hindi" {% if 'Hindi' in user.languages %}selected{% endif %}>Hindi</option>
                                                    <option value="Jepang" {% if 'Jepang' in user.languages %}selected{% endif %}>Jepang</option>
                                                    <!-- dst -->
                                                </select>
                                            </div>                                                                                      
                                            <div class="form-group col-sm-6">
                                                <label for="interest" class="form-label">Minat:</label>
                                                <input type="text" class="form-control" id="interest" placeholder="Masukkan interest" name="interest" value="{{user.interest}}">
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="website" class="form-label">Website Pribadi:</label>
                                                <input type="url" class="form-control" id="website" placeholder="Masukkan Website Pribadi" name="website" value="{{user.website}}">
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="social" class="form-label">Link Media Sosial:</label>
                                                <input type="url" class="form-control" id="social" placeholder="Masukkan Media Sosial" name="social" value="{{user.social}}">
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="form-label">Alamat:</label>
                                                <textarea class="form-control" name="address" rows="3">{{ user.address or '' }}</textarea>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary me-2">Kirim</button>
                                        <button type="reset" class="btn bg-soft-danger">Batal</button>                                        
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="chang-pwd" role="tabpanel">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between">
                                <div class="iq-header-title">
                                    <h4 class="card-title">Change Password</h4>
                                </div>
                                </div>
                                <div class="card-body">
                                <form action="/edit-password" method="POST">
                                    <div class="form-group">
                                        <label for="cpass" class="form-label">Current Password:</label>
                                        <a href="#" class="float-end">Forgot Password</a>
                                        <input type="Password" class="form-control" id="cpass" value="" name="current_password">
                                    </div>
                                    <div class="form-group">
                                        <label for="npass" class="form-label">New Password:</label>
                                        <input type="Password" class="form-control" id="npass" value="" name="new_password">
                                    </div>
                                    <div class="form-group">
                                        <label for="vpass" class="form-label">Verify Password:</label>
                                        <input type="Password" class="form-control" id="vpass" value="" name="confirm_password">
                                    </div>
                                    <button type="submit" class="btn btn-primary me-2">Kirim</button>
                                    <button type="reset" class="btn bg-soft-danger">Batal</button>
                                </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="emailandsms" role="tabpanel">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between">
                                <div class="header-title">
                                    <h4 class="card-title">Email and SMS</h4>
                                </div>
                                </div>
                                <div class="card-body">
                                <form>
                                    <div class="form-group row align-items-center">
                                        <label class="col-md-3" for="emailnotification">Email Notification:</label>
                                        <div class="col-md-9 form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked11" checked>
                                            <label class="form-check-label" for="flexSwitchCheckChecked11">Checked switch checkbox input</label>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label class="col-md-3" for="smsnotification">SMS Notification:</label>
                                        <div class="col-md-9 form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked12" checked>
                                            <label class="form-check-label" for="flexSwitchCheckChecked12">Checked switch checkbox input</label>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label class="col-md-3" for="npass">When To Email</label>
                                        <div class="col-md-9">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault12">
                                                <label class="form-check-label" for="flexCheckDefault12">
                                                    You have new notifications.
                                                </label>
                                            </div>
                                            <div class="form-check d-block">
                                                <input class="form-check-input" type="checkbox" value="" id="email02">
                                                <label class="form-check-label" for="email02">You're sent a direct message</label>
                                            </div>
                                            <div class="form-check d-block">
                                                <input type="checkbox" class="form-check-input" id="email03" checked="">
                                                <label class="form-check-label" for="email03">Someone adds you as a connection</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label class="col-md-3" for="npass">When To Escalate Emails</label>
                                        <div class="col-md-9">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="email04">
                                                <label class="form-check-label" for="email04">
                                                    Upon new order.
                                                </label>
                                            </div>
                                            <div class="form-check d-block">
                                                <input class="form-check-input" type="checkbox" value="" id="email05">
                                                <label class="form-check-label" for="email05">New membership approval</label>
                                            </div>
                                            <div class="form-check d-block">
                                                <input type="checkbox" class="form-check-input" id="email06" checked="">
                                                <label class="form-check-label" for="email06">Member registration</label>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                                    <button type="reset" class="btn bg-soft-danger">Cancle</button>
                                </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="manage-contact" role="tabpanel">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between">
                                <div class="header-title">
                                    <h4 class="card-title">Manage Contact</h4>
                                </div>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="cno"  class="form-label">Contact Number:</label>
                                            <input type="text" class="form-control" id="cno" value="001 2536 123 458">
                                        </div>
                                        <div class="form-group">
                                            <label for="email"  class="form-label">Email:</label>
                                            <input type="text" class="form-control" id="email" value="Bnijone@demo.com">
                                        </div>
                                        <div class="form-group">
                                            <label for="url"  class="form-label">Url:</label>
                                            <input type="text" class="form-control" id="url" value="https://getbootstrap.com">
                                        </div>
                                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                                        <button type="reset" class="btn bg-soft-danger">Cancle</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      </div>
    </div>
    {% include "layouts/footer.html"%}


    <script>
        $(document).ready(function() {
            $('.js-example-basic-single').select2({
                placeholder: "Pilih Negara",
                allowClear: true
            });
    
            $('.js-example-basic-multiple').select2({
                placeholder: "Pilih Bahasa",
                allowClear: true
            });
        });

        function previewImage(event){
            const input = event.target;
            if (input.files && input.files[0]){
                const reader = new FileReader();
                reader.onload = function(e){
                    const img = document.getElementById('profilePic');
                    img.src = e.target.result;
                }
            }
        }
        const friendList = {{ friend_list_data | tojson }};

       function renderFriends(onlineIds) {
        const container = document.querySelector(".media-height");
        container.innerHTML = "";

        friendList.forEach(f => {
          const isOnline   = onlineIds.includes(f._id);
          const dotClass   = isOnline ? "status-online" : "";
          const statusText = isOnline ? "Online" : "Offline";

          // pastikan path lengkap
          let profilePic = f.profile_picture || "default.png";
          if (!profilePic.startsWith("/") && !profilePic.startsWith("http")) {
            profilePic = "/static/uploads/" + profilePic;
          } else if (profilePic.startsWith("/static/uploads/")) {
            // Sudah benar, biarkan
          } else if (profilePic.startsWith("uploads/")) {
            profilePic = "/static/" + profilePic;
          }

          console.log("Profile Pic Path:", profilePic);

          const html = `
            <div class="d-flex align-items-center mb-4" onclick="openChat('${f._id}', '${f.full_name}', '${profilePic}')">
              <div class="iq-profile-avatar ${dotClass}">
                <img class="rounded-circle avatar-50"
                     src="${f.profile_picture}"
                     alt="${f.full_name}" />
              </div>
              <div class="ms-3">
                <h6 class="mb-0">${f.full_name}</h6>
                <p class="mb-0">${statusText}</p>
              </div>
            </div>
          `;
          container.insertAdjacentHTML("beforeend", html);
        });
      }
        // 3) inisialisasi: semua teman offline
        renderFriends([]);

        // 4) koneksi Socket.IO
        const socket = io({
          auth: {
            user_id:   "{{ session.get('user_id') }}",
            full_name: "{{ session.get('full_name') }}"
          }
        });

        socket.on("connect", () => {
          socket.emit("request_online_users");
        });

        socket.on("online_users", users => {
          const onlineIds = users.map(u => u.user_id);
          renderFriends(onlineIds);
        });

        // opsional: live update saat user connect/disconnect
        socket.on("user_connected",   () => socket.emit("request_online_users"));
        socket.on("user_disconnected",() => socket.emit("request_online_users"));

       socket.on("new_message", (data) => {
        console.log("📩 Dapat pesan:", data);

        const currentReceiverId = document.getElementById("receiver-id").value;
        const myId = document.getElementById("sender-id").value;

        // Kalau pengirim bukan yang lagi kita buka, ganti tampilan
        if (data.sender_id !== myId && data.sender_id !== currentReceiverId) {
          openChat(data.sender_id, data.full_name, data.profile_picture);
        }

        const chatBody = document.querySelector("#chat-box .flex-grow-1");
        const messageElement = document.createElement("div");

        const isOwnMessage = data.sender_id === myId;
        messageElement.classList.add("d-flex", isOwnMessage ? "justify-content-end" : "justify-content-start", "mb-2");

        messageElement.innerHTML = isOwnMessage
          ? `
            <div class="badge bg-primary" style="padding: 10px 20px;
                                           border-radius: 20px;
                                           max-width: 70%;
                                           font-size: 14px;
                                           display: inline-block;
                                           word-break: break-word;">${data.message}</div>
          `
          : `
            <div class="d-flex align-items-start" style="margin-top:20px;">
              <img src="${data.profile_picture}" alt="Foto"
                   class="rounded-circle me-2" width="32" height="32">
              <span class="badge bg-primary" style="padding: 10px 20px;
                                                      border-radius: 20px;
                                                      max-width: 70%;
                                                      font-size: 14px;">${data.message}</span>
            </div>
          `;

        chatBody.appendChild(messageElement);
        chatBody.scrollTop = chatBody.scrollHeight;
      });



        function openChat(userId, fullName = "", profilePic = "") {
        const chatBox = document.getElementById('chat-box');
        chatBox.style.display = 'flex';
        chatBox.classList.remove('chat-pop');
        void chatBox.offsetWidth;
        chatBox.classList.add('chat-pop');

        document.getElementById("receiver-id").value = userId;

        if (fullName) {
          const nameElements = chatBox.querySelectorAll(".fw-bold.text-dark");
          nameElements.forEach(el => el.textContent = fullName);
        }

        if (profilePic) {
          const profileImg = chatBox.querySelector("#chat-profile-picture");
          if (profileImg) {
            profileImg.src = profilePic;
            profileImg.onerror = function() {
              this.src = "/static/default.png"; // fallback kalau error load
            };
          }
        }
      }



        function closeChat() {
          const chatBox = document.getElementById('chat-box');
          chatBox.style.display = 'none';
          chatBox.classList.remove('chat-pop');
        }
         function toggleSendButton() {
          const input = document.getElementById("chat-input");
          const likeButton = document.getElementById("like-button");
          const sendButton = document.getElementById("send-button");

          if (input.value.trim() !== "") {
            likeButton.classList.add("d-none");
            sendButton.classList.remove("d-none");
          } else {
            likeButton.classList.remove("d-none");
            sendButton.classList.add("d-none");
          }
        }

        function sendMessage() {
          const messageInput = document.getElementById("chat-input");
          const message = messageInput.value.trim();
          if (!message) return;

          const senderId = document.getElementById("sender-id").value;
          const receiverId = document.getElementById("receiver-id").value;

          // Emit pesan ke backend
          socket.emit("send_message", {
            sender_id: senderId,
            receiver_id: receiverId,
            message: message
          });

          // Tampilkan langsung di sisi pengirim
          const chatBody = document.querySelector("#chat-box .flex-grow-1");
          const messageElement = document.createElement("div");
          messageElement.classList.add("text-end", "mb-2");
          messageElement.innerHTML = `
            <span class="badge bg-primary" style="padding: 10px 20px;
                                                  border-radius: 20px;
                                                  max-width: 70%;
                                                  font-size: 14px;">${message}</span>
          `;

          messageInput.value = '';
          toggleSendButton();
        }

        document.getElementById("send-button").addEventListener("click", sendMessage);
    </script>
    

  </body>
</html>